@font-face {
    font-family: "nimbus";
    src: url(../font/nimbus.otf);
}

@font-face {
    font-family: "nohemi";
    src: url(../font/nohemiel.ttf);
}

.top {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.name {
    font-family: nimbus, sans-serif;
    font-size: 250%;
}

.topLeft {
    position: absolute;
    top: 0px;
    display: flex;
    margin-top: 10px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 15px;
}

.margin-left {
    margin-left: 10px;
}

.subText {
    color: black;
    font-family: nohemi, sans-serif;
    font-size: 100%;
    text-decoration: none;
}

.espace {
    height: 5vh;
}

.form {
    margin-top: 100px;
    width: 40vw;
}

.menu {
    font-family: nimbus, sans-serif;
    font-size: 150%;
    color: white;
    background-color: #0F0F0F;
    border-radius: 30px;
    padding: 5px 25px;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.label {
    font-family: nimbus, sans-serif;
    font-size: 150%;
    color: black;
}

.input {
    border: none;
    color: #3b3b3b;
    border-radius: 25px;
    font-size: 150%;
    font-family: nimbus, sans-serif;
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
    display: block;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
}

.submit {
    margin-top: 50px;
    font-family: nimbus, sans-serif;
    font-size: 150%;
    padding: 5px 25px;
    color: white;
    background-color: #83DAF8;
    border-radius: 25px;
    border: none;
}

.other {
    display: block;
    background-color: #B24C97;
    font-size: 200%;
    font-family: nimbus, sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 50px;
    padding: 10px;
}