@font-face {
  font-family: "nimbus";
  src: url(../font/nimbus.otf);
}

@font-face {
    font-family: "nohemi";
    src: url(../font/nohemiel.ttf);
}

body {
  font-family: nimbus, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    margin: 15px;
    font-size: 130%;
}

.buttonBlue {
    background-color: #1C66F9;
    padding: 5px 25px;
    font-family: nimbus, sans-serif;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

.buttonBlue:hover {
    background-color: white;
    color: #1C66F9;
    border: 1px solid #1C66F9;
}

.whiteText {
    font-family: nimbus, sans-serif;
    text-decoration: none;
    color: white;
}

.buttonWB {
    background-color: white;
    padding: 5px 25px;
    font-family: nimbus, sans-serif;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

.buttonWB:hover {
    background-color: #dadada;
}

.buttonBW {
    background-color: #0F0F0F;
    padding: 5px 30px;
    font-family: nimbus, sans-serif;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 200%;
    margin: 70px 0px;
}

.buttonBW:hover {
    background-color: #464646;
}

.background {
    position: relative;
    top: 0;
    background-color: #82D9F8;
    height: 100vh;
    width: 100vw;
}

.title {
    color: white;
    margin-top: 30vh;
    position: relative;
    font-size: 800%;
}

.subtitle {
    color: white;
    font-family: nohemi, sans-serif;
    font-size: 130%;
}

.homepic-div {
    position: relative;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepic-class {
    border-radius: 30px;
    width: 90vw;
    height: auto;
}

.rulesPic {
    width: 70vw;
    border-radius: 25px;
}

.image-class,
.animated-drawing {
    border-radius: 30px;
    margin: 20px;
    width: 30vw;
    height: auto;
}

.dessin-container {
    width: calc(1 * 30vw);
    display: flex;
    justify-content: center;
    position: relative;
    animation: moveLeft 10s linear infinite;
    will-change: transform;
}

.animated-drawing {
    border-radius: 30px;
    margin: 20px;
    width: 30vw;
    height: auto;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainText {
    font-family: nimbus, sans-serif;
    text-decoration: none;
    font-size: 300%;
    color: black;
    margin-left: 15px;
}

.subText {
    font-family: nohemi, sans-serif;
    text-decoration: none;
    font-size: 150%;
    color: black;
    margin-left: 10px;
}

.backRules {
    width: 100vw;
}

.marginTop {
    margin-top: 50px;
}

.dessin {
    width: 50vw;
    border-radius: 20px;
}

.left {
    margin-left: 30px;
}

.buttonRed {
    background-color: #f64028;
    padding: 5px 25px;
    font-family: nimbus, sans-serif;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 200%;
    cursor: pointer;
}

.buttonRed:hover {
    background-color: #690c0c;
    color: #f93d1c;
}

.margin {
    margin: 15px;
}

.footer {
    background-color: #0F0F0F;
    border-radius: 30px;
    width: 90vw;
    height: auto;
}

.bigText {
    font-size: 200%;
}

.marginBottom {
    margin-bottom: 50px;
}

.link {
    font-size: 130%;
}