@font-face {
    font-family: "nimbus";
    src: url(../font/nimbus.otf);
}

body {
    top: 0;
    left: 0;
}

.centered-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: center;
}

.quitter {
    text-decoration: none;
    background-color: #B24C97;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: nimbus, sans-serif;
    color: white;
    font-size: 200%;
    border-radius: 30px;
    cursor: pointer;
}

.logo-container {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
}

.mot-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mot {
    background-color: #82D9F8;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 200%;
    color: white;
    font-family: nimbus, sans-serif;
}

.logo {
    width: 150px;
    height: auto;
}

#drawingArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

canvas {
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#colorPalette {
    display: flex;
    margin-top: 10px;
}

button {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
    /* Assombrit légèrement la couleur lorsqu'on survole le bouton */
}

#brushSize {
    width: 300px;
    margin-top: 10px;
    height: 20px;
    appearance: none;
    background: linear-gradient(to right, #FFF, #FFF);
    /* Fond blanc */
    border: 4px solid #000;

    /* Contour noir */
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#brushSize::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#timer-container {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50px;
    right: 200px;
    background-color: #ffffff;
    color: rgb(34, 140, 52);
    padding: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer {
    display: inline-block;
    /* Pour empêcher la div de se propager sur la largeur totale */
}

#countdown {
    font-size: 40px;
    font-weight: bold;
    /* font-family: */
}