doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/style/styleConnect.css')
        link(rel='icon', href='/images/favicon.png', type='image/x-icon')
    body
        div.top
            a.name Penty.
        div.topLeft
            a.menu(href='/') menu
        div.center
            div.form
                a.name Enfin, on se retrouve.
                br
                a.subText veuillez remplir les informations ci dessous
                div.espace
                form(action='/searchUser', method='post')
                    label.label(for='username') Identifiant :
                    input.input(type='text', id='username', name='username', required)
                    label.label(for='password') Mot de passe :
                    input.input(type='password', id='password', name='password', required)
                    div.center
                        button.submit(type='submit') Envoyer
                    div.center.margin-top
                        a.subText(href='/register') je suis nouveau