// views/index.pug
doctype html
html
    head
        title= title
    body
        h1= title


        each dessin in dessins
            img(src=`/images/${dessin.picPath}`, alt='Image du dessin')
            p #{dessin.picPath}