doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/style/styleConnect.css')
    body
        div.container
            a(href='/')
                img.pic(src="images/logo.png")

            div.form
                form(action='/submitUser', method='post')
                    label.label(for='username') Nom d'utilisateur :
                    input.input(type='text', id='username', name='username', required)
                    label.label(for='name') Nom :
                    input.input(type='text', id='name', name='name', required)
                    label.label(for='password') Mot de passe :
                    input.input(type='text', id='password', name='password', required)
                    button.submit(type='submit') Envoyer
                    a.other(href='/login') j'ai déjà un compte