doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/style/style.css')
        link(rel='icon', href='/images/favicon.png', type='image/x-icon')
    body
        img.backRules(src="/images/backrules.jpg")